<div style="border-color: black; border-style: dotted; padding-right: 15px; padding-left: 15px">
  <h3 style="text-align: center">Upcoming Newsletter 📬</h3>
  <a href="/newsletter">
    <img alt="Newsletter" style="display: block; margin-left: auto;margin-right: auto;width: 100%;"
         src="/img/newsletter/progmot-newsletter-creative.jpg"/>
  </a>
  <p>I'm planning to launch a paid newsletter around topics like productivity, freelancing, mindset, selling digital
    products, digital nomading, and motivation, all from the lenses of a software developer 💻</p>

  <p>If you're interested, make sure to <a href="/newsletter">join the waiting list</a> 🚀
</div>
